<div class="main-container home-container">
	<h6>
		Welcome {{ user.userName }}!
		<div class="pull-right">
			<a class="btn btn-primary" ng-click="redirectToSignup()">
				Logout
			</a>
		</div>
	</h6>

	<hr>

	<a 
			ui-sref="add({
				user: user.urlId
			})" 
			class="btn btn-block btn-primary">

			<i class="glyphicon glyphicon-plus"></i> Add Images
	</a>

	<div class="user-images-container" ng-if="user.list && user.list.length > 0">
		<hr>

		<div class="user-heading">
			<h2>
				Your Gallery
			</h2>
		</div>
		<div class="row">
			<div
					ng-repeat="media in user.list | orderBy: '-'"
					class="col-md-3 col-sm-4 col-xs-6 well user-images-list">
				<a 
					ui-sref="edit({
						user: user.urlId,
						media: media.id 
					})">

					<div 
							title="{{ media.caption }}"
							ng-style="{
								'height': '120px',
								'background-repeat': 'round',
								'background-image': 'url({{ media.img }})'
							}">
					</div>
				</a>
			</div>
	    </div>
	</div>

	<hr>	
</div>
