<div class="main-container signup-container">
	<h2>Sign-Up Users</h2>
	<hr>
	<form name="addUserForm" novalidate ng-submit="addUser()">

		<div class="form-group">
	  		<label for="user-email">Email</label>
			<input
				type="text"
				id="user-email"
				class="form-control"
				autocomplete="off"
				placeholder="Enter username"
				ng-model="user.userName"
			/>
		  
		  	<small id="emailHelp" class="form-text text-muted">
		  		We'll never share your details with anyone else.
		  	</small>
		</div>
		<div class="form-group">
			<label for="user-password">Password</label>
			<input
				type="password"
				id="user-password"
				class="form-control"
				autocomplete="off"
				placeholder="Enter password"
				ng-model="user.password"
			/>
		</div>

		<hr>
		
		<button class="btn btn-info btn-block" ng-disabled="addUserForm.$invalid">
			Sign Up!
		</button>
		
		<hr>

		<div class="text-center">
			<h3>
				Have an account? <br>
				<a class="btn btn-primary" ui-sref="login">
					Login
				</a>
			</h3>
		</div>

		<hr>

	</form>
</div>
